<div class="flex">
  <div style="margin-top: 140px" class="col-12">
    <p-breadcrumb [model]="path"></p-breadcrumb>
    <p-card class="remove-p">
      <p-progressBar mode="indeterminate" *ngIf="_loading"></p-progressBar>
      <p-card>
        <div class="col-12 flex flex-row relative">
          <div class="col-3">
            <div class="p-card-title">Lista - Produtores Rurais</div>
          </div>
          <div class="col-6"></div>
          <div
            class="col-3"
            style="text-align: end; right: 1em"
            class="absolute"
          >
            <button
              pButton
              class="primary-btn"
              label="Incluir Novo"
              (click)="incluirNovo()"
            ></button>
          </div>
        </div>
        <p-table [columns]="cols" [value]="value" class="mt-2 p-3" [scrollable]="true" [scrollHeight]="getScrollHeight()">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [style]="{'text-align': col.align, 'width': col.width}">
                {{ col.header }}
              </th>
              <th [style.width]="'5%'"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-produtor let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" [style]="{'text-align': col.align, 'width': col.width}">
                <span *ngIf="col.field == 'cpf'; else semFormatField">
                  {{ getFormatCPF(produtor[col.field]) }}
                </span>
                <ng-template #semFormatField>
                  {{ produtor[col.field] }}
                </ng-template>
              </td>
              <td class="flex end" style="place-content: end;">
                <div class="flex flex-row">
                  <button
                    pButton
                    icon="fas fa-edit"
                    class="p-button-text"
                    (click)="service.edit(produtor)"
                  ></button>
                  <button
                    pButton
                    icon="fas fa-trash-alt"
                    class="p-button-text p-button-danger"
                    (click)="excluir(produtor)"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </p-card>
  </div>
</div>
