<div class="flex bg">
  <div style="margin-top: 140px" class="col-12">
    <p-breadcrumb [model]="path"></p-breadcrumb>
    <p-card class="remove-p">
      <p-progressBar mode="indeterminate" *ngIf="_loading"></p-progressBar>
      <p-card>
        <div class="col-12 flex flex-row relative" style="place-items: center">
          <div class="col-3">
            <div class="p-card-title">Lista - Comunicação de Perda</div>
          </div>
          <div class="col-3"></div>
          <div class="col-6 p-fluid flex flex-row">
            <input
              pInputText
              class="h-2rem"
              [(ngModel)]="pesquisa"
              (ngModelChange)="onChangePesquisaCPF($event)"
              placeholder="Pesquisar por CPF do Produtor"/>
            <div
              class="col-3 p-0 pl-1"
              style="text-align: end; right: 1em"
            >
              <button
                pButton
                class="primary-btn h-2rem"
                label="Incluir Novo"
                (click)="incluirNovo()"
              ></button>
            </div>

          </div>
        </div>
        <p-table [columns]="cols" [value]="value" class="mt-2 p-3" [scrollable]="true" [scrollHeight]="getScrollHeight()">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [style]="{'text-align': col.align, 'width': col.width}">
                {{ col.header }}
              </th>
              <th [style.width]="'5%'"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-comunicacaoperda let-columns="columns">
            <tr *ngIf="comunicacaoperda.show">
              <td *ngFor="let col of columns" [style]="{'text-align': col.align, 'width': col.width}">
                <div *ngIf="col && col.tipo == 'date'; else normalField">
                  {{ getField(comunicacaoperda, col.field) | date: 'dd/MM/YYYY'}}
                </div>
                <ng-template #normalField>
                  {{ getField(comunicacaoperda, col.field) }}
                </ng-template>
              </td>
              <td class="flex end" style="place-content: end;">
                <div class="flex flex-row">
                  <button
                    pButton
                    icon="fas fa-pencil"
                    class="p-button-text"
                    (click)="service.edit(comunicacaoperda)"
                  ></button>
                  <button
                    pButton
                    icon="far fa-trash-alt"
                    class="p-button-text p-button-danger"
                    (click)="excluir(comunicacaoperda)"
                  ></button>
                </div>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </p-card>
  </div>
</div>
