/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
$primary-color: #07AA43;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  font-family: Poppins;
}


body {
  line-height: 1;
  font-family: Poppins;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg {
  background-color: #FAFAFA;
}

.title-cadastro {
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
}

.p-card .p-card-title {
  font-family: Poppins !important;
  font-weight: 500 !important;
  white-space: nowrap !important;
}
.p-fluid .p-dropdown .p-dropdown-label {
  width: 1%;
  height: 37px;
  margin-top: 1px;
}
.p-button-label {
  font-family: Poppins;
}

.comunicacao-perda-component {
  .p-datepicker:not(.p-datepicker-inline) {
    left: -140% !important;
  }
}

.remove-p {
  padding: 0;

  & > p-card {
    background-color: red;
    box-shadow: 0 2px 4px #00000026;
  }

  > div {
    padding: 0 !important;
    margin-top: 1em;

    > div {
      padding: 0 !important;

      > div {
        padding: 0 !important;
      }
    }
  }
}


.primary-btn {
  background: #ffbf01 !important;
  border: none !important;
  box-shadow: none !important;
}

.p-card {
  box-shadow: 0 2px 4px #00000026 !important;
  border-radius: 3px;
}

.p-button {
  max-width: 190px;
}

.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: #ffbf01 !important;
}
