.menu-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  padding: 1em 0 0 0;
  margin: auto;
  background: white;
  width: 100%;
  box-shadow: 0 4px 4px #00000026;;

  .menu-css div
  {
    background-color: transparent !important;
    color: yellow !important;
    border: none;
    margin-top: 1em;
  }
}
