p-sidebar {

  overflow: hidden;

  .p-sidebar .p-sidebar-header {
    place-content: center;
    padding: 0;
  }

 .p-sidebar-content > div:nth-child(1) {
   display: block;
   text-align-last: center;
   padding: 0.5rem 0;
   width: 100%;
 }

  .p-sidebar-content > div:nth-child(2) {
    width: 100% !important;
    color: red !important;
    text-align-last: center;
    display: flex;
    padding: .5em 0;
    flex-flow: row;

    & button {
      background-color: transparent;
      border: none;
      color: #07AA43;

      &:hover {
        background-color: #07AA43;
        color: white;
      }

      span {
        text-align: center;
        display: flex;
        margin: auto;
        justify-content: flex-end;
        align-items: flex-start;
        flex-flow: row-reverse nowrap;
        position: relative;
        left: 13px;
        top: 3px;
      }
    }
  }

  & > div {
    height: 100px !important;
    color: #ebebeb !important;
    box-shadow: none !important;
    //background-color: #07AA43 !important;
    box-shadow: 0px 0px 20px 1px rgb(34 34 34 / 52%) !important;
  }

  & div {
    align-items: center !important;
    overflow: hidden !important;
  }
}
